<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="getcontroller">


	<div ng-controller="getcontroller">
	
        <label>Game ID</label>
        <input type="text" name="id" class="form-control" ng-model="id"/>
	
	
        <button id="btn-id" ng-click="getfunction()">Get All Questions</button>
         
        <ul>
            <li ng-repeat="q in response">{{q.score + " " + q.type}}</li>
        </ul>
         
    </div>

	{{getResultMessage}}

	<script type="text/javascript">
	var app = angular.module('app', []);
	app.controller('getcontroller', function($scope, $http, $location) {
	    $scope.getfunction = function(){
	        var url = '/games/' + $scope.id + '/questions';
	        
	        var config = {
	                headers : {
	                    'Content-Type': 'application/json;charset=utf-8;'
	                }
	        }
	         
	        $http.get(url, config).then(function (response) {
	            $scope.response = response.data;
	            $scope.getResultMessage = "Successful!";

	        }, function (response) {
	            $scope.getResultMessage = "Fail!";
	        });
	    }
	});
	
	
	</script>

	<!--


    <input type="button" value="Get Data" ng-click="showData()" />
    <p id="displayData" />

    <script type="text/javascript">
        angular.module('TopicApp', [])
        .controller('TopicController', function($http, $scope) {
          $scope.showData = function() {
            $http({
              method : 'GET',
              url : '/topics'
            }).then(function(response) {
            	$('#displayData').html(JSON.stringify(response.data));
            });
          }
        });
    </script>
    
    -->
    
</body>
</html>