<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="getcontroller">


	<div ng-controller="getcontroller">

        <button id="btn-id" ng-click="getfunction()">Get All Courses</button>

        <ul>
            <li ng-repeat="course in response">{{course.name + " " + course.description}}</li>
        </ul>

    </div>

	<script type="text/javascript">
	var app = angular.module('app', []);
	app.controller('getcontroller', function($scope, $http, $location) {
	    $scope.getfunction = function(){
	        var url = '/courses';
	        var config = {
	                headers : {
	                    'Content-Type': 'application/json;charset=utf-8;'
	                }
	        }

	        $http.get(url, config).then(function (response) {
	            $scope.response = response.data;
	        }, function (response) {
	            $scope.getResultMessage = "Fail!";
	        });
	    }
	});


	</script>
</body>
</html>
