<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="postController">

   <div ng-controller="postController">
        <form name="topicForm" ng-submit="submitForm()">
            
            <label>Lesson ID</label>
            <input type="text" name="id" class="form-control" ng-model="id"/>
            
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="name"/>
            
            <label>Description</label>  
            <input type="text" name="description" class="form-control" ng-model="description"/>
         
            <label>Type</label>
            <input type="text" name="type" class="form-control" ng-model="type"/>
         
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <p>{{postResultMessage}}</p>
    </div>
     

    <script type="text/javascript">
    var app = angular.module('app', []);
    app.controller('postController', function($scope, $http, $location) {
        $scope.submitForm = function(){
            var url = '/lessons/' +  $scope.id + '/games';
            
            var config = {
                    headers : {
                        'Content-Type': 'application/json;charset=utf-8;'
                    }
            }
            var data = {
                name: $scope.name,
                description: $scope.description,
                type: $scope.type
            };
             
            $http.post(url, data, config).then(function (response) {
                $scope.postResultMessage = "Sucessful!";
            }, function (response) {
                $scope.postResultMessage = "Fail!";
            });
             
            $scope.name = "";
            $scope.id = "";
            $scope.description = "";
        }
    });
    </script>
</body>
</html>